body {
  --primary: 25, 91, 255;
  --white: 255, 255, 255;
  --black: 0, 0, 0;
  --color: 44, 62, 80;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  /* background: rgba(255, 255, 255, 0.7); */
  height: calc(var(--vh, 1vh) * 100);
  color: rgb(var(--color));
  overflow-y: hidden;
  overflow-x: hidden;
  background-image: url("/assets/cover.jpg");
  background-repeat: none;
  background-size: cover;
}
* {
  list-style: none;
  outline: none;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.content {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.con-user {
  padding-top: 5px;
  width: 500px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.5);
  /* background: #F9FCFF; */
  padding-bottom: 5px;
  /* border-radius: 0px 0px 30px 30px; */
}

.con-user .title {
  text-align: center;
  width: 100%;
}

.con-user .title h1 {
  font-size: 2rem;
  color: rgb(var(--black));
  padding: 0px 0px;
}

.con-user .title h2 {
  font-size: 1.3rem;
  color: rgb(var(--black));
  padding: 5px 0px;
}

.con-user .title p {
  font-size: .9rem;
  padding: 6px 10px;
  color: rgb(var(--black));
}

/* .con-user .title p a {
  color: rgb(var(--black));
} */

.avatar img {
  width: 100px;
  box-shadow: 0px 15px 20px -5px rgba(0, 0, 0, .08);
  border-radius: 30px;
}

.con-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  max-width: 500px;
  margin: auto;
  width: 100%;
  position: relative;
  z-index: 10;
  box-shadow: 0px 15px 20px -5px rgba(0, 0, 0, .08);
  border-radius: 0px 0px 20px 20px;
  background: rgba(255, 255, 255, 0.5);
    /* border-radius: 0px 0px 30px 30px; */
}

.con-menu button {
  padding: 12px;
  width: calc(50% - 4px);
  border: 0px;
  background: transparent;
  font-weight: bold;
  color: rgb(var(--white));
  font-size: 1rem;
  transition: all .25s ease;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, .08);
  border-radius: 16px;
  z-index: 2;
}

.con-menu button:hover {
  color: rgb(var(--primary));
}

.con-menu button.active {
  background: #fff;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, .06);
  color: rgb(var(--black));
}

.con-contents {
  width: 100%;
  overflow-x: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  flex: 1;
  height: 100%;
  position: relative;
  max-width: 500px;
}

.con-posts {
  min-width: 100%;
  scroll-snap-align: center;
  overflow: auto;
  padding-bottom: 30px;
  max-width: 500px;
}

.con-posts .post {
  width: calc(100% - 40px);
  overflow: hidden;
  box-sizing: border-box;
  display: block;
  margin: 20px;
  position: relative;
  color: rgb(var(--text));
  border-radius: 30px;
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, .08);
  margin-top: 20px;
  margin-bottom: 20px;
}

.con-file {
  width: 100%;
  padding-bottom: 100%;
  height: 0;
}

.con-posts .post img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translate(0, -50%);
}

.con-posts .post video {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translate(0, -50%);
}

.con-posts .post footer {
  position: absolute;
  bottom: 0px;
  z-index: 10;
  padding: 10px 20px;
}

.con-posts .post footer h3 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.con-posts .post footer h3 i {
  margin-right: 5px;
  font-size: 1.4rem;
}

.con-posts .post .effect {
  position: absolute;
  bottom: 0px;
  height: 150px;
  width: 100%;
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 30%, rgba(0, 0, 0, 0.001) 100%);

}

.con-post {
  min-width: 100%;
  scroll-snap-align: center;
  overflow: auto;
  padding-bottom: 30px;
  max-width: 500px;
}

.con-post .post {
  width: calc(100% - 40px);
  overflow: hidden;
  box-sizing: border-box;
  display: block;
  margin: 20px;
  position: relative;
  color: rgb(var(--text));
  border-radius: 30px;
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, .08);
  margin-top: 20px;
  margin-bottom: 20px;
}

.con-file {
  width: 100%;
  padding-bottom: 100%;
  height: 0;
}

.con-post .post img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translate(0, -50%);
}

.con-post .post video {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translate(0, -50%);
}

.con-post .post footer {
  position: absolute;
  bottom: 0px;
  z-index: 10;
  padding: 10px 20px;
}

.con-post .post footer h3 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.con-post .post footer h3 i {
  margin-right: 5px;
  font-size: 1.4rem;
}

.con-post .post .effect {
  position: absolute;
  bottom: 0px;
  height: 150px;
  width: 100%;
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 30%, rgba(0, 0, 0, 0.001) 100%);

}

.con-links {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 15px 20px;
  padding-top: 0px;
  max-width: 500px;
  width: 100%;
  margin: auto;
  min-width: 100%;
  scroll-snap-align: center;
  flex: 1;
  overflow: auto;
  overflow-y: hidden;
  padding-top: 20px;
}

.con-links a {
  display: block;
  width: 100%;
  padding: 18px 22px;
  text-decoration: none;
  font-size: 1rem;
  color: rgb(var(--black));
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 1);
  margin-bottom: 16px;
  border-radius: 15px;
  position: relative;
  box-shadow: 0px 10px 30px 0px rgba(var(--black), .15);
  overflow-y: hidden;
}

.con-links a:hover {
  color: rgb(var(--primary));
}

.con-links a:last-child {
  margin-bottom: 40px;
}

.con-links a img {
  max-width: 22px;
  position: absolute;
  left: 20px;
}

.con-links a svg {
  width: 22px;
  fill: #fff;
  position: absolute;
  left: 20px;
}

.con-links a i {
  font-size: 2rem;
  font-weight: 500;
  position: absolute;
  left: 20px;
}

.con-links a span {
  text-align: center;
  font-weight: 600;
}

.con-links a span p {
  font-size: .8rem;
}